$minSamll : ("min-width : 768px");
$minmediam : ("min-width : 992px");
$minlarge : ("min-width : 1200px");
    
$maxMobile : ("max-width : 767px");
$maxSmall : ("max-width : 991px");

$maincolor : #7060FE;
$hovercolor : #897ee7;
$secoundcolor : #161824;
$textcolor : #fff;
$linkcolor : #222344;