// start header top 
.header-top{
    background-color: $secoundcolor;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    h3{
        margin-left: 40px;
        color: #fff;
        font-size: 20px;
        padding: 10px 20px;
    }
    .left{
        margin-right: 10px;
    }
    .right{
        margin-left: 10px;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
            font-size: 16px;
            margin-top: 10px;
            font-weight: bold;
            margin-right: 20px;
            a{
                color: #fff;
            }
        }
    }
    @media (max-width: 767px){
        display: block;
        margin-bottom: 10px;
        h3{
            font-size: 14px;
            margin-left: 4px;
            padding-top: 20px;
        }
        .left{
            margin-right: 0;
        }
        .right{
            margin-left: 0;
        }
        ul{
            display: none;
            margin-left: 0;
            li{
                display: block;
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    
    .toggle-menu {
        padding: 8px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
        display: none; 
        margin-bottom: 10px;
        border-radius: 8px;
        @media (max-width : 767px){
            display: block;
        }
        &:focus{
            outline : none;
        }
        i{
            color: #fff;
            font-size: 20px;
        }
    }
    .toggle-menuu {
        padding: 8px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 60px;
        cursor: pointer;
        display: none; 
        margin-bottom: 10px;
        border-radius: 8px;
        @media (max-width : 767px){
            display: block;
        }
        &:focus{
            outline : none;
        }
        i{
            color: #fff;
            font-size: 20px;
        }
    }


}

// end header top 



// start header bottom 
.headre-bottom{
    background-color: $maincolor;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    @media (max-width : 767px){
        display: flex;
        flex-direction: column;
    }
    nav{
        width: 55%;

        ul{
            display: flex;
            justify-content: space-between;
            li{
                font-size: 16px;
                margin-top: 15px;
                font-weight: bold;
                &:first-child{
                    font-size: 30px;
                    margin-top: 2px;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    
                }
            }
        }
    }

    .right-side{
        width :45%;
        background-color: $maincolor;
        color: #fff;
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: space-between;
        .icons ul{
            margin-left: 120px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                font-size: 16px;
                margin-left: 25px;
                margin-top: 5px;
                a{
                    color: #fff;

                }
                .fa-search{
                    display: none;
                }
            }
        }

        .profile{
            display: flex;
            justify-content: space-evenly;
            position: relative;
            h3{
                color: #fff;
                font-size: 20px;
                margin-right: 5px;
                margin-top: 2px;
            }
            img{
                width: 30px;
                height: 30px;
                overflow: hidden;
                border-radius: 50%;
                cursor: pointer;
                margin-left: 10px;
                margin-top: -4px;
            }
        }
        .search{
            ul{
                display: flex;
                justify-content: space-evenly;
                li{
                    list-style: none;
                    font-size: 16px;
                    margin-left: 25px;
                    a{
                        color: #fff;
                    }
                }
                
            }
        }

    }
    @media (max-width : 767px){
        display: none;
        nav{
            width: 100%;
    
            ul{
                display: block;
                li{
                    font-size: 14px;
                    margin-top: 5px;
                    &:first-child{
                        font-size: 36px;
                    }
                }
            }
        }

        .right-side{
            width :100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            .icons ul{
                margin-left: -40px;
                display: block;
                li{
                    font-size: 16px;
                    float: left;
                    .fa-search{
                        display: block;
                        margin-top: 4px;
                    }
                }
            }

            .search{
                display: none;
            }

            .profile{
                display: none;
            }
        }

    }
    
}
// end header bottom 
